<!doctype html>
<html lang="en">
<head>
    <title> Ejemplo 2 Sinatra </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/estilo.css">

    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/acercade">Acerca De</a></li>
    <li><a href="/clientes">Lista de clientes</a></li>
    </ul>
    <hr>
    
</head>
<body>
    <header>
        <h1>Ejemplo 2 Sinatra</h1>
    </header>
    <section>
        <%= yield %>
    </section>
    <footer>
    </footer>
    
</body>
</html>